<!DOCTYPE html>
<html>

  <head>
    <title> Welcome!  </title>

    <!--to make the name all caps in the heading-->
    <style>
      
      h1.uppercase {
      text-transform: uppercase;
      }
      
    </style>
    
  </head>

  <h1 class="uppercase"> <u>BREAKING NEWS FOR {{name}}:</u> </h1>
  
  <body>
    
    <p>
      <br>
      
      <font size="4">
      McDonalds is bringing back the McNuggest Szechuan Sauce on 10/7/17 for <b>ONE DAY ONLY!</b>
      <br>
      <br>
     
      <b>ALSO:</b> The request method being used to bring you this important information is {{method}}!
      <br>
      <br>
      
      <br>
      <br>

      </font>      
    </p>

    <h3> <i> And that's the wayyy the news goes! </i></h3>
    
  </body>
  
</html>
